body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #FF0000;
  }
  
  #question {
    margin-top: 50px;
    font-size: 24px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
  